/* Fonts */

@font-face {
	font-family: pokemonFont;
	src: url("../fonts/Pokemon Solid.ttf");
	font-weight: bold;
}

@font-face {
	font-family: pokemonFont;
	src: url("../fonts/Pokemon Hollow.ttf");
}

.fontMain {
	font-family: pokemonFont;
}

/* Colors */

.primaryColor {
	color: rgb(255, 123, 123);
}

.secondaryColor {
	color: rgb(90, 205, 189);
}

.thirdColor {
	color: rgb(123, 213, 115);
}

.primaryColorBg {
	background-color: rgb(213, 65, 90);
}

.secondaryColorBg {
	background-color: rgb(32, 148, 131);
}

.thirdColorBg {
	background-color: rgb(49, 123, 82);
}

/* Body & main */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
	width: 70vw;
	margin: 0 auto;
}

/* Titles */

h1 {
	font-weight: bold;
	font-size: 100px;
}

/* Parallax */
.parallax {
	display: grid;

	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr 1fr;

	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;

	min-height: 100vh;
}

.parallax > .blankSpace {
	grid-column: 2 / span 3;
}

.parallax > img {
	width: 250px;
	height: 200px;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Header */

header {
	display: flex;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
}
